.coral{
    background-color: coral;
}
.orange{
    background-color: rgb(120, 98, 58);
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.yellowGreen{
    background-color: yellowgreen;
}
.bold{
    font-weight: bolder;
}